*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background: url(bg.png) no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Ubuntu;

    overflow: hidden;
}

.main-header {
    text-align: center;
}

.info-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 50px 0;
}

.place {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 5vw;
}

.place::placeholder {
    color: rgb(168, 168, 168);
}

.search-btn {
    border: 1px solid rgb(160, 160, 160);
    margin-top: 2%;
    background-color: transparent;
    color: white;
    font-size: 5vw;

    padding: 5px;

    width: 80%;
}

.weather-info {
    display: flex;
    flex-flow: column nowrap;

    justify-content: space-between;
    align-items: center;
}

.temperature {
    font-size: 10vw;
    text-shadow: 0px 0px 15px black;
}

.feels {
    font-size: 8vw;
    text-shadow: 0px 0px 15px black;

    /* color:  */
}

@media only screen and (min-width: 768px) {
}
