*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fuggles';
    src: url('./Fuggles-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Poiret';
    src: url('./PoiretOne-Regular.ttf') format('woff2');
}

html {
    min-height: 100%;
    background-color: rgb(37, 37, 37);
    /* background-image: url("./background.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.title-header {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Fuggles;
    font-size: 180px;
    text-align: center;
    min-height: 80px;
    font-weight: 400;

    cursor:default;
}

.nav-bar {
    background-color: rgb(53, 53, 53);
    width: 100%;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 2vh;

    align-items: center;
}

.nav-list > li {
    list-style-type: none; /* Remove bullets */
    padding: 1vh; /* Remove padding */
    margin: 0; /* Remove margins */

    color: white;
    font-size: 25px;

    font-family: Poiret;

    font-weight: 400;

    border: 1px solid rgba(255, 255, 255, 0);
  }

.nav-list > li:hover {
    transition: 0.8s;
    border: 1px solid rgb(122, 122, 122);
    cursor: pointer;

    background-color: rgb(22, 22, 22);
}

.outerDiv {
    display: flex;
    flex-flow: row nowrap;
    text-align: justify;
    background-color: rgb(53, 53, 53);
    width: 60%;

    font-size: 30px;
    margin: 5%;

    border-radius: 8px;
}

.outerDiv > p {
    margin: 5% 10%;
    color: white;
    font-family: Poiret;
}

.menu-underline {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.menu-page-div {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding-top: 2%;
    padding-bottom: 5%;
}

.menu-type-heading {
    padding: 0;
    margin: 0;

    font-family: Poiret;
    font-size: 50px;

    text-decoration: underline;
    color: rgb(195, 195, 195);
}

.holder-div-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 2%;
}

.menu-item-card {
    border: 2px solid rgb(110, 110, 110);
    border-radius: 15px;
    flex: 0 0 40%;
    color: rgb(211, 211, 211);
    font-family: Poiret;

    margin: 20px;
}

.menu-item-card > div:first-child {
    text-align: center;
    font-size: 45px;
    border-bottom: 0.5px solid rgb(116, 116, 116);
}

.menu-item-card > div:nth-child(2) {
    text-align: center;
    margin: 1%;
    font-size: 25px;
}

.menu-item-card > div:nth-child(3) {
    text-align: right;
    font-size: 25px;
}

@media (max-width: 992px) {
    .outerDiv {
        margin: 5% 3%;
        width: 95%;
        text-align: center;
    }

    .outerDiv > p {
        margin: 3% 5%;
    }
}

@media (max-width: 700px) {
    .title-header {
        font-size: 140px;
    }
}