*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fuggles';
    src: url('./Fuggles-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Poiret';
    src: url('./PoiretOne-Regular.ttf') format('woff2');
}

html {
    min-height: 100%;
    background-color: rgb(37, 37, 37);
    /* background-image: url("./background.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.title-header {
    width: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Fuggles;
    font-size: 180px;
    text-align: center;
    min-height: 80px;
    font-weight: 400;
}

.nav-bar {
    background-color: rgb(53, 53, 53);
    width: 100%;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 2vh;

    align-items: center;
}

.nav-list > li {
    list-style-type: none; /* Remove bullets */
    padding: 1vh; /* Remove padding */
    margin: 0; /* Remove margins */

    color: white;
    font-size: 25px;

    font-family: Poiret;

    font-weight: 400;

    border: 1px solid rgba(255, 255, 255, 0);
  }

.nav-list > li:hover {
    transition: 0.8s;
    border: 1px solid rgb(122, 122, 122);
    cursor: pointer;

    background-color: rgb(22, 22, 22);
}

.outerDiv {
    display: flex;
    flex-flow: row nowrap;
    text-align: justify;
    background-color: rgb(53, 53, 53);
    width: 60%;

    font-size: 30px;
    margin: 5%;

    border-radius: 8px;
}

.outerDiv > p {
    margin: 5% 10%;
    color: white;
    font-family: Poiret;
}

@media (max-width: 992px) {
    .outerDiv {
        margin: 5% 3%;
        width: 95%;
        text-align: center;
    }

    .outerDiv > p {
        margin: 3% 5%;
    }
}