*,
*::after,
*::before {
    box-sizing: border-box;
}


.main-title {

}

.wrapper {
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 10%);
}

.wrapper > button {
    border: none;
    height: 80px;
    margin: 2px;
    border-radius: 5px;

}

button:hover {
    background-color: red;

    transition: 0.3s;
}