*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.main-title {
    font-size: 8em;
    text-align: center;
}

.btn-wrapper {
    display: grid;
    min-width: 200px;
    min-width: 300px;
    width: 20%;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
    border-radius: 8px;
    background-color: black;
}

.playingGrid {
    border: none;
    height: 100px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    font-size: 65px;
    background-color: rgb(92, 161, 207);
    cursor: pointer;
}

.playingGrid:hover {
    background-color: rgb(10, 84, 133);
    transition: 0.3s;
}

.filledButton:hover {
    background-color: rgb(221, 0, 0);
    transition: 0.3s;
}

.reset-btn {
    font-size: 30px;
    padding: 10px;
}

.winner-text {
    font-size: 40px;
    margin: 30px;
}

.disabled-grid:hover {
    background-color: rgb(92, 161, 207);
}

.winning-combo {
    background-color: rgb(48, 200, 48);
}

.winning-combo:hover {
    background-color: rgb(48, 200, 48);
}